.photo {
  width: 100vw;
  position: absolute;
  left: 0;
}

.button {
  position: fixed;
  bottom: 0%;
  left: 50vw;
  background: transparent;
  transform: translate(-50%, -50%);
  border: none;
}
.button:focus {
  border: none;
  outline: none;
}
.paw-icon {
  height: 15vh;
}
